html {
  font-size: 62.5%;
}

.counter-nav {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-logo {
  width: 7.2rem;
  color: inherit;
}

.nav-link {
  text-decoration: none;
  color: #f9c5c5;
}

.nav-lists {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

@media (max-width: 465px) {
  .counter-nav {
    font-size: 1.4rem;
  }
  .nav-lists {
    gap: 1.2rem;
  }
}
